mixin textBlock()
    .textBlock
        h2.h2 Light, Fast & Powerful
        p.p1 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus 
        p.p2 mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.

mixin paint()
    .paintBlock 
        img(src="./img/iconPaint.svg", alt="")
        h3 Title Goes Here
        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
