@keyframes mainComeIn {
    0% {
      transform: translateX(-150%);
  }
  50%{
      transform: translateX(8%);
  }
  65%{
      transform: translateX(-4%);
  }
  80%{
      transform: translateX(4%);
  }
  95%{
      transform: translateX(-2%);
  }           
  100% {
      transform: translateX(0%);
  }  
  }
  @keyframes comeIn {
    0% {
        transform: translateX(-150%);
    }
    50%{
        transform: translateX(8%);
    }
    65%{
        transform: translateX(-4%);
    }
    80%{
        transform: translateX(4%);
    }
    95%{
        transform: translateX(-2%);
    }           
    100% {
        transform: translateX(0%);
    }   
  }
  @keyframes statisticsComeIn {
    0% {
      transform: translateX(150%);
  }
  50%{
      transform: translateX(-8%);
  }
  65%{
      transform: translateX(4%);
  }
  80%{
      transform: translateX(-4%);
  }
  95%{
      transform: translateX(2%);
  }           
  100% {
      transform: translateX(0%);
  }  
  }
  @keyframes coursesComeIn {
    0% {
      transform: translateY(150%);
  }
  50%{
      transform: translateY(-8%);
  }
  65%{
      transform: translateY(4%);
  }
  80%{
      transform: translateY(-4%);
  }
  95%{
      transform: translateY(2%);
  }           
  100% {
      transform: translateY(0%);
  }  
  }