body,html{margin:0;padding:0}ol,ul{list-style:none;margin:0;padding:0}*,:after,:before{box-sizing:border-box;font:inherit}:active,:focus,a:active,a:focus{outline:none}a,a:visited{text-decoration:none;cursor:pointer;color:inherit}a:hover{text-decoration:none}input,select{-webkit-appearance:none;appearance:none}input::-ms-clear{display:none}input::-webkit-inner-spin-button,input::-webkit-outer-spin-button{-webkit-appearance:none}input[type=number]{-moz-appearance:textfield}h1,h2,h3,h4,h5,h6,p{margin:0}
html,
body {
  font-size: 14px;
  font-family: "Lato", sans-serif;
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

header {
  color: white;
  background-color: #ed4c5c;
  display: flow-root;
}

.title-block {
  max-width: 450px;
  margin: 130px 0 110px 0;
}

.title-block h1,
h2 {
  font-size: 2.4rem;
  margin: 0 0 50px 0;
}

.title-block p {
  font-size: 0.9rem;
  line-height: 140%;
  text-align: justify;
  margin-bottom: 50px;
}
.title-icons img {
  margin-right: 30px;
  vertical-align: center;
}

.title-icons a:last-child img {
  margin-bottom: 4px;
}

.title-icons a:hover {
  opacity: 0.7;
}

/* slider */
.photo-block {
  margin-left: auto;
  align-items: center;
  position: absolute;
  left: 50%;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider li:first-child img {
  border-radius: 15px;
}
.slider li:last-child {
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}

.slider li {
  width: 50px;
  overflow: hidden;
  display: block;
  /* margin: 90px 0; */
  transition: 1.5s;
  cursor: pointer;
  /* box-shadow: 1px 1px 15px rgb(31, 30, 30); */
  /* background: rgb(31, 30, 30); */
}
/*  */
.slider li:hover {
  width: 445px;
  height: 311px;
  border-radius: 15px;
  transition: 1s;
}

.slider img:hover {
  width: 445px;
  height: 311px;
  border-radius: 15px;
  transition: 1s;
}
/*  */
.fixed img {
  width: 445px;
  height: 311px;
}
/*  */
.slider:hover .fixed {
  width: 50px;
  height: 267px;
  border-radius: 0;
}
.slider .fixed:hover {
  width: 445px;
  height: 311px;
  border-radius: 15px;
}
.slider .fixed {
  width: 445px;
  height: 311px;
  border-radius: 15px;
}

/* form */

.form {
  display: grid;
  font-size: 1rem;
  color: #8993a1;
  margin: 130px 0 120px;
  margin-left: auto;
  max-width: 540px;
}

.form input {
  margin-bottom: 25px;
  border: 1px solid #333333;
  border-radius: 6px;
  padding: 18px 30px;
}

.form div input:first-child {
  margin-right: 30px;
}

.form select {
  margin-bottom: 25px;
  border: 1px solid #333333;
  border-radius: 6px;
  padding: 18px 25px;
  background-image: url(./images/arrow.png);
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 95%;
  background-color: white;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

.form button {
  color: white;
  font-weight: 400;
  background-color: #ed4c5c;
  border: none;
  border-radius: 6px;
  font-size: 0.9rem;
  text-transform: uppercase;
  max-width: 160px;
  padding: 18px 0;
  cursor: pointer;
}

.form button:hover {
  background-color: #ac3844;
}

.form button a {
  text-decoration: none;
  color: white;
  width: max-content;
  padding: 18px 39px;
}

.contact-section .title-block {
  margin-top: 0;
}

/* footer */

footer {
  background-color: #fafafa;
  padding-top: 85px;
  display: flow-root;
}
footer .container > div {
  width: 17%;
}
footer .container {
  align-items: flex-start;
  justify-content: space-between;
  line-height: 150%;
}

.footer-nav a {
  color: black;
  text-decoration: none;
  line-height: 160%;
}

.footer-nav a:hover {
  color: rgb(219, 103, 103);
}

.data {
  font-size: 0.8rem;
  margin: 100px auto 85px;
}

.footer-content {
  width: 20%;
  font-size: 0.8rem;
}

.footer-title {
  margin-bottom: 36px;
  font-weight: bold;
  font-size: 1.2rem;
}

.getInTouch p {
  margin-bottom: 10px;
}

.getInTouch div {
  padding-top: 15px;
}

.getInTouch a {
  margin-right: 10px;
}

.done-pop-up {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: none;
  background-color: rgba(0, 0, 0, 0.65);
  position: fixed;
}

.done-pop-up:target {
  display: block;
}

.pop-up {
  top: -100%;
  right: 0;
  left: 50%;
  z-index: 20;
  width: fit-content;
  position: fixed;
  padding: 15px;
  border: none;
  border-radius: 30px;
  background: white;
  transform: translate(-50%, -500%);
  transition: transform 0.6s ease-out;
  font-size: 7rem;
  font-weight: bold;
  color: #ac3844;
  display: inline-flex;
  align-items: center;
}

.done-pop-up:target + .pop-up {
  transform: translate(-50%, 0);
  top: 20%;
}

.close {
  top: -10px;
  right: -40px;
  width: 10px;
  height: 10px;
  position: absolute;
  text-decoration: none;
  font-size: 3rem;
}

.close:before {
  color: #ad3844;
  opacity: 0.4;
  content: "x";
}

.done-image {
  width: 100px;
  align-self: center;
  margin-left: 20px;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 480px;
    display: block;
    padding: 10px 0;
  }
  .photo-block {
    position: static;
  }
  .title-block h1,
  h2 {
    margin: 0;
  }
  .title-block {
    margin: 20px auto;
  }
  .title-block p {
    margin: 10px auto 10px;
  }
  .title-icons {
    text-align: center;
  }
  .form {
    margin: 10px auto;
    justify-content: center;
  }
  .footer-title {
    margin: 10px auto;
  }
  .footer-nav {
    display: flex;
    justify-content: center;
  }
  footer .container > div {
    width: 100%;
  }
  .footer-nav {
    justify-content: space-between;
  }
  footer {
    padding: 0;
  }
  .getInTouch p {
    display: inline-block;
    margin-right: 20px;
  }
  .social-links {
    display: inline;
  }
  .payment {
    margin-top: 10px;
    text-align: center;
  }
  .data {
    margin: 0 auto;
    text-align: center;
  }
  .non {
    display: none;
  }
  header {
    min-height: 550px;
    position: relative;
  }
  input,
  select {
    font-size: 16px;
  }
  .form button {
    min-width: 100%;
  }
  .form input {
    margin: 2px 0;
    width: 100%;
  }
  .form select {
    width: 100%;
    margin-bottom: 7px;
  }
}

@media screen and (max-width: 450px) {
  .container {
    max-width: 100%;
  }
  header,
  main,
  footer {
    padding: 10px;
  }
  header {
    min-height: 450px;
    position: relative;
  }
  * {
    text-align: center;
  }
  input,
  select {
    font-size: 16px;
  }
  .form {
    display: block;
  }
  .form button {
    min-width: 100%;
  }
  .form input {
    margin: 2px 0;
    width: 100%;
  }
  .form select {
    width: 100%;
    margin-bottom: 7px;
  }
  .footer-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .social-links {
    display: block;
  }
  /* slider */
  .photo-block {
    position: absolute;
    left: 10px;
    padding: 0 15px;
  }
  .slider li:hover {
    width: 222px;
    height: 155px;
    border-radius: 15px;
    transition: 1s;
  }
  .slider img:hover {
    width: 222px;
    height: 155px;
    border-radius: 15px;
    transition: 1s;
  }
  .fixed img {
    width: 222px;
    height: 155px;
  }
  .slider:hover .fixed {
    width: 50px;
    height: 133px;
    border-radius: 0;
  }
  .slider .fixed:hover {
    width: 222px;
    height: 155px;
    border-radius: 15px;
  }
  .slider .fixed {
    width: 222px;
    height: 155px;
    border-radius: 15px;
  }
  .slider li {
    width: 50px;
    height: 133px;
    overflow: hidden;
    display: block;
  }
  .slider li:first-child {
    border-bottom-left-radius: 15px;
  }
}
