.booking {
    padding: 163px 0;
    @media (max-width:1020px) {
        padding: 50px 0;
    }
    .container {
        padding-right: 0;
        @media (max-width:1020px) {
            padding-left: 0;
        }
    }
    &__wrapper {
        display: flex;
        @media (max-width:1020px) {
            flex-direction: column;
            align-items: center;
        }
    }
    &__text {
        width: 50%;
        @media (max-width:1020px) {
            width: 100%;
            justify-content: center;
        }
        h2 {
            margin-bottom: 45px;
        }
        p {
            max-width: 370px;
            margin-bottom: 60px;
            @media (max-width:1020px) {
                max-width: 100%;
            }
        }
        @media (max-width:1020px) {
            text-align: center;
        }
        .section-title {
            @media (max-width:1020px) {
                max-width: 100%;
            }
        }
    }
    .main__buttons {
        margin-top: 20px;
        @media (max-width:1020px) {
            margin: 40px auto;
        }
        @media (max-width:370px) {
            flex-direction: column;
            align-items: center;
            .btn {
                margin-bottom: 20px;
            }
        }
    }
    &__numbers {
        display: flex;
        justify-content: space-between;
        max-width: 330px;
        margin-top: 52px;
        @media (max-width:1020px) {
            margin: 40px auto 0;
        }
    }
    &__number {
        max-width: 50%;
        justify-content: space-between;
    }
    &__select {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        img {
            cursor: pointer;
        }
        span {
            font-size: 14px;
            line-height: 24px;
            color: #111111;
        }
    }
    &__form {
        width: 50%;
        background-color: #273164;
        padding: 34px 0 50px 79px;
        margin-left: 15px;
        @media (max-width:1020px) {
            margin-left: 0;
            margin-top: 40px;
            width: 100%;
            margin-left: 0;
            padding-left: 100px;
        }
        @media (max-width:600px) {
            padding-left: 80px;
            margin-right: 0;
            margin-left: 0;
            position: relative;
            width: 120%;
        }
        @media (max-width:430px) {
            padding-left: 50px;
        }
        .form-title {
            font-size: 30px;
            line-height: 65px;
            color: #ffffff;
        }
        .form-price {
            font-size: 30px;
            line-height: 65px;
            color: #ffffff;
            margin: 0 10px 0 30px;
            @media (max-width:350px) {
                margin: 0 10px 0 10px;
            }
        }
        .form-dollar {
            font-size: 30px;
            line-height: 65px;
            color: #ffffff;
        }
        button {
            background: none;
            font-size: 20px;
            line-height: 24px;
            position: relative;
            padding-right: 42px;
            margin-top: 30px;
            &::after {
                content: "";
                position: absolute;
                width: 12px;
                height: 12px;
                background: none;
                border-top: 2px solid #f45e1f;
                border-right: 2px solid #f45e1f;
                margin-left: 20px;
                top: 50%;
                transform: rotate(45deg) translateY(-50%);
            }
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &__info {
        color: white;
        font-size: 12px;
        line-height: 20px;
    }
    h3 {
        margin-top: 40px;
        font-size: 10px;
        line-height: 24px;
    }
    form {
        display: flex;
        flex-direction: column;
        max-width: 350px;
        input {
            background: none;
            border: none;
            border-bottom: 1px solid #fff;
            color: white;
            font-size: 14px;
            line-height: 28px;
            margin-top: 20px;
            &:first-child {
                margin-top: 0;
            }
            &::placeholder {
                color: white;
            }
        }
    }
}