.footer {
    padding: 167px 0 0 0;
    @media (max-width:867px) {
        padding-top: 50px;
    }
    &__top {
        display: flex;
        justify-content: space-between;
        padding-bottom: 102px;
        flex-wrap: wrap;
    }
    li {
        a {
            font-size: 14px;
            line-height: 35px;
            color: #676f92;
            font-weight: bold;
            position: relative;
            &::after {
                position: absolute;
                content: "";
                width: 7px;
                height: 7px;
                top: 50%;
                right: -15px;
                transform: translateY(-50%);
                background-color: #676f92;
                border-radius: 50%;
                opacity: 0;
                transition: 300ms;
            }
            &:hover::after {
                opacity: 1;
                transition: 300ms;
            }
        }
        .email {
            font-size: 19px;
            text-decoration: underline;
            color: #f45e1f;
        }
    }
    .section-title {
        margin-bottom: 30px;
        font-size: 22px;
        line-height: 24px;
    }
    &__name {
        flex-basis: 246px;
        @media (max-width:867px) {
            flex-basis: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        .section-title {
            font-size: 30px;
            width: 30%;
            @media (max-width:867px) {
                width: fit-content;
            }
        }
        p {
            max-width: 90%;
            font-size: 14px;
            line-height: 35px;
            color: #676f92;
            font-weight: bold;
            @media (max-width:660px) {
                order: 1;
                margin: 0 auto;
            }
        }
    }
    &__social {
        margin-top: 30px;
        a {
            margin-right: 20px;
        }
        @media (max-width:867px) {
            margin-top: 0;
        }
    }
    &__bottom {
        padding: 20px 0px;
        border-top: 2px solid #d1d3de81;
        font-size: 14px;
        line-height: 35px;
        color: #676f92;
        @media (max-width:420px) {
            text-align: center;
        }
    }
    &__links {
        display: flex;
        width: 70%;
        flex-grow: 1;
        @media (max-width:867px) {
            width: 100%;
            flex-wrap: wrap;
            justify-content: space-around;
            text-align: center;
            margin-top: 20px;
        }
    }
    &__house {
        width: 39%;
        @media (max-width:867px) {
            width: 50%;
        }
        @media (max-width:420px) {
            width: 100%;
            margin-top: 20px;
        }
    }
    &__commercial {
        width: 40%;
        @media (max-width:867px) {
            width: 50%;
        }
        @media (max-width:420px) {
            width: 100%;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
    &__contact {
        // width: 33%;
    }
}