html, body {
    font-family: 'Avenir Next Cyr';
    font-size: 15px;
    overflow-x: hidden;
}
.container-l {
    max-width: 1210px;
    margin: 0 auto;
    padding: 0 20px;
}
.container-header {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 22px;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
}
.nav__icon-text {
    font-size: 30px;
    font-weight: bold;
}

.btn {
    width: 160px;
    height: 45px;
    border-radius: 23px;
    color: #f2645e;
    background-color: white;
    border: 1px solid #ffffff;
    font-size: 15px;
    font-weight: bold;
    transition: .5s;
}
.btn:hover {
    color: white;
    background-color: #f2645e;
    transition: .5s;
}
.btn-transparent {
    background-color: transparent;
    background: url(../img/place-icon_.svg) left center no-repeat;
    background-position: 35px;
    padding-left: 16px;
    color: white;
    border: 1px solid #ffffff;
    font-size: 15px;
    font-weight: bold; 
    transition: .5s;
}
.btn-orange {
    background-color: #fff8f6;
    border: 1px solid rgba(244,94,31,0.35);
}
.btn-blue {
    color: #666e91;
    background-color: #ffffff;
    border: 1px solid rgba(102,110,145,0.3);
}
.section-title {
    font-size: 30px;
    line-height: 30px;
    color: #273164;
    font-weight: bold;
    max-width: 400px;
} 
.bold {
    font-weight: bold;
}
.underline {
    text-decoration: underline;
}
.orange-text {
    font-size: 13px;
    line-height: 14px;
    color: #f45e1f;
}
.blue-text {
    font-size: 14px;
    line-height: 26px;
    color: #676f92;
}
.mt-20 {
    margin-top: 20px;
}

@import "header";
@import "nav";
@import "ourServicesSection";
@import "whyHireUs";
@import "partOfTeam";
@import "booking";
@import "testimonials";
@import "footer";
@import "media";






