.testimonials {
    background-color: #f6f7fb;
    padding: 153px 0;
    h3 {
        max-width: 100%;
        text-align: center;
        font-size: 25px;
    }
    .main__buttons {
        margin-left: auto;
        margin-right: auto;
    }
    @media (max-width:1000px) {
        padding: 50px 0;
    }
    .section-title {
        @media (max-width:1000px) {
           max-width: 100%;
           text-align: center;
        }
    }
}
.slider {
    margin-top: 60px;
    max-width: 1920px;
    padding-left: 330px;
    padding-bottom: 150px;
    position: relative;
    min-width: 0;
    overflow-x: hidden;
    padding-top: 4px;
    @media (max-width:800px) {
        padding-left: 0;
    }
    &__item {
        max-width: 400px;
        max-height: 400px;
        background: white;
        padding: 55px 30px;
        margin-right: 100px;
        p {
            margin-top: 30px;
            font-size: 20px;
            line-height: 30px;
            color: #273164;
            @media (max-width:450px) {
                font-size: 16px;
            }
        }
        @media (max-width:450px) {
            max-width: 300px;
            padding: 15px;
        }
    }
    &__name {
        font-size: 15px;
        line-height: 20px;
        margin-top: 36px;
    }
    &__city {
        color: #b4b4b4;
        font-size: 15px;
        line-height: 20px;
    }
}
.slick-track {
    display: flex;
  }