@keyframes goUpBtn {
    0% {
        bottom: -25%;
    }
    100% {
        bottom: -24%;
    }
}
@keyframes avatarShine {
    0% {
        box-shadow: none;
    }
    100% {
        box-shadow: rgba(255, 217, 0, 0.514) 0 0 20px 0;
    }
}