body {
  font-family: "Electrolize", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

.container {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  position: relative;
}
/* header */
.background {
  background-image: linear-gradient(
      to bottom,
      rgba(58, 59, 68, 0.52),
      rgba(43, 6, 33, 0.73)
    ),
    url(../styles/images/milky-way-2695569_1920.png);
  background-size: cover;
  background-attachment: fixed;
}
.header {
  min-height: 100vh;
  height: min-content;
  padding-top: 80px;
  padding-bottom: 130px;
}
.header .container {
  display: flex;
  align-items: center;
}
/* .header::after {
  content: "";
  width: 100%;
  height: 30%;
  position: absolute;
  bottom: -30%;
  background-image:
    linear-gradient(to bottom, rgba(58, 59, 68, 0.52), rgba(43, 6, 33, 0.73)),
    url(../styles/images/milky-way-2695569_1920.jpg);
} */
#goUpBtn {
  position: fixed;
  top: 1%;
  color: rgba(255, 255, 255, 0.514);
  z-index: 100;
}
.goUpButton {
  color: rgba(255, 255, 255, 0.514);
}
#goDownBtn {
  position: absolute;
  bottom: -25%;
  left: 43%;
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.514);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  letter-spacing: 1px;
  opacity: 0.5;
  cursor: pointer;
  transition: 1s;
  animation: goUpBtn 0.5s linear infinite alternate;
}
#goDownBtn:hover {
  opacity: 1;
  animation-play-state: paused;
}
.goDownButton {
  color: rgba(255, 255, 255, 0.514);
  transform: rotate(180deg);
  margin-top: 10px;
}
.avatarBlock {
  position: relative;
}
.avatar {
  width: 500px;
  height: 500px;
  background: url(./images/myPhotoFinal.png) center no-repeat;
  border: 10px solid rgb(115, 119, 146);
  border-radius: 50%;
  border-style: double;
  box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.507);
  background-size: contain;
  transition: 0.5s;
  animation: avatarShine 1s linear infinite alternate;
}
.avatar:hover {
  box-shadow: inset rgba(195, 67, 255, 0.651) 0 0 10px 0;
}
/* headerTitles */
.headerTitles {
  color: gold;
  text-align: center;
  padding: 0 50px;
}
.headerTitles__first {
  font-family: "Monoton", cursive;
  font-size: 4rem;
  transform: skewX(0deg);
  transform: skewY(-12deg);
  margin-bottom: 50px;
}
.headerTitles__main {
  font-family: "Press Start 2P", cursive;
  font-size: 5rem;
}
.headerTitles__second {
  font-family: "Lobster", cursive;
  font-size: 3rem;
  position: relative;
  margin: 20px auto;
}
.headerTitles__second::after {
  content: "";
  width: 30%;
  position: absolute;
  border-top: 2px solid gold;
  top: 50%;
  opacity: 0.7;
  box-shadow: 0 0 10px 0 gold;
  left: 60%;
}
.headerTitles__second::before {
  content: "";
  width: 30%;
  position: absolute;
  border-top: 2px solid gold;
  top: 50%;
  opacity: 0.7;
  box-shadow: 0 0 10px 0 gold;
  left: 40%;
  transform: translateX(-100%);
}
.headerTitles__third {
  font-size: 5rem;
  font-family: "Major Mono Display", monospace;
  margin-bottom: 30px;
}
.headerTitles__last {
  width: 70%;
  margin: 20px auto;
  line-height: 1.3rem;
}

/* main */
.projectsTitle {
  font-size: 4rem;
  color: gold;
  font-family: "Lobster", cursive;
  margin-bottom: 20px;
}

/* aboutMe */
.aboutMeText {
  max-width: 80%;
  margin: 0 auto;
  color: gold;
  font-size: 1.5rem;
  line-height: 2.5rem;
  padding: 90px 0;
  text-align: center;
}
.aboutMeTextPaddings {
  padding: 0;
  padding-bottom: 20px;
  font-size: 1.2rem;
}
.refLink {
  color: aqua;
}

/* footer */
.footer {
  background-color: rgb(11, 13, 14);
}
.footerContent {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.socialLinks {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.footerContent a {
  font-size: 1rem;
  margin-right: 25px;
  display: flex;
  align-items: center;
  color: rgb(86, 61, 108);
}
.footerContent a:hover {
  color: gold;
}
.getInTouch {
  color: rgb(86, 61, 108);
  font-size: 3rem;
  margin-right: 5rem;
  padding: 50px 0;
  text-transform: uppercase;
}
