/* SLIDER */
.container__slider {
  /* max-width: 1440px; */
  padding: 0px 25px 0px;
  text-align: center;
  margin: 0 auto;
  overflow-x: hidden;
  position: relative;
  /* background-color: rgba(250, 235, 148, 0.137); */
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.1) 1%,
    rgba(116, 115, 115, 0.1) 50%,
    rgba(97, 95, 95, 0.1) 100%
  );
}
.container__slider::before {
  content: "";
  height: 100%;
  width: 10%;
  background-color: rgb(238, 20, 20, 1);
  background: linear-gradient(90deg, #ffffff80 1%, rgba(255, 255, 255, 0) 90%);
  position: absolute;
  left: 0;
  z-index: 1;
}
.container__slider::after {
  content: "";
  height: 100%;
  width: 10%;
  background-color: rgb(238, 20, 20, 1);
  background: linear-gradient(270deg, #ffffff80 1%, rgba(255, 255, 255, 0) 90%);
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
.slider__item {
  border: 1px solid #828282;
  border-radius: 4px;
  color: #4f4f4f;
  margin-right: 18px;
  margin-left: 18px;
  box-shadow: 0 0 10px 0 gold;
  opacity: 0.4;
}
.slider__item.slick-center {
  opacity: 1;
}
.slider__item:first-child {
  margin-left: 0;
}
.slider__item a {
  display: inline-block;
}
.slick-track {
  display: flex;
}
.slider {
  position: relative;
  min-width: 0;
  padding: 30px 0;
}
.slider .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  font-size: 0;
  width: 47px;
  height: 47px;
  border-radius: 50%;
  border: none;
  box-shadow: 0px 5px 10px rgba(240, 218, 21, 0.1);
  /* background-color: rgba(255, 217, 0, 0.5); */
}
.slider .slick-arrow.slick-prev {
  left: 20px;
  background: url(./images/arrowLeft.svg) center center no-repeat;
  background-size: 30px;
}
.slider .slick-arrow.slick-next {
  background: url(./images/arrowRight.svg) center center no-repeat;
  right: 20px;
  background-size: 30px;
}
.slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider .slick-dots li {
  list-style: none;
}
.slider .slick-dots button {
  font-size: 0;
  width: 11px;
  height: 3px;
  background-color: gold;
  border: none;
  border-radius: 40%;
  margin: 40px 11px 0;
  opacity: 0.7;
}
.slider .slick-dots li.slick-active button {
  background-color: #fff;
  border: 1px solid #828282;
}
.slider .slick-arrow.slick-disabled {
  visibility: hidden;
}
