html,
body {
  font-family: "Lato";
  font-size: 14px;
  background-image: url(./images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  max-width: 100vw;
  max-height: 100vh;
  overflow-x: hidden;
}

.background {
  background: linear-gradient(
    90deg,
    rgba(213, 32, 71, 0.8) 0%,
    rgba(238, 61, 27, 0.8) 100%
  );
  min-height: 100vh;
  padding-bottom: 100px;
}

.wrapper {
  max-width: 1110px;
  margin: 0 auto;
  text-align: center;
}

header {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

header * {
  display: flex;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.site-logo {
  margin-right: 7px;
}

.site-name {
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

header a {
  text-decoration: none;
  color: white;
  padding-left: 12px;
  padding-right: 12px;
  padding: 3px 12px;
  font-size: 1rem;
}

header a:hover {
  text-decoration: underline overline;
}

.nav ul {
  flex-wrap: wrap;
}

.languages {
  cursor: pointer;
  overflow: hidden;
}

.languages img:first-child {
  margin-right: 14px;
}

.languages span {
  margin-right: 5px;
}

.languages img:hover {
  color: rgb(80, 21, 4);
}

header button {
  color: white;
  background: none;
  border: 1px solid;
  border-radius: 10px;
  padding: 14px 30px;
  margin-left: 30px;
  cursor: pointer;
}

header button:hover {
  box-sizing: border-box;
  background: white;
  color: #cf4325;
}

.main-title {
  font-size: 10vh;
  font-weight: bold;
  letter-spacing: 8px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 160px;
}

.subtitle {
  font-size: 3.3vh;
  line-height: 150%;
  letter-spacing: 1px;
  text-align: center;
  max-width: 450px;
  margin: 60px auto 0;
}

.sign-up-button {
  width: 160px;
  height: 50px;
  color: #ed4c5c;
  text-transform: uppercase;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  margin: 60px auto 0;
  display: block;
  cursor: pointer;
}

.sign-up-button:hover {
  background: #e25250;
  color: white;
  border: 1px solid white;
}

@media screen and (min-width: 149px) {
  .adaptive {
    font-size: calc(100vw / 19);
  }
}
